<div class="foot">
    <footer id="footer">
        <hr>
          <h5>Tools and Technologies used:</h5>
        
        <p>HTML5 , CSS3, Bootstrap, Javascript, Git ,Gitbash</p>
        <p>node.js, express.js, EJS, mongoDB, mongoose</p>
        
        
            <p> ❤️ </p>
        
          </footer>
</div>
   

          <script src="app.js"></script>
         
</body>




</html>