<%- include ("partials/header");-%>

<h1>Choose Subject</h1>

<div class="alert alert-light" role="alert">
     <a href="/civilphy" class="alert-link">physics</a>
  </div>

  <div class="alert alert-light" role="alert">
    <a href="/civilcpp" class="alert-link">cpp</a>
 </div>





