<%- include ("partials/header");-%>
<div class="about">

    <h2>About this Portal</h2>
    <p>A responsive website, where students can submit their assignment 
      assigned by faculties.
      also allows faculties to announce new assignments, with an efficient data storage system.</p>
      <p>This is version : 1 . 0 . 0</p>
   </div>
   <h2>Purpose</h2>
   <p>Earlier Assignments were announced by faculties on 
    respective whatsapp groups conveyed by CR.
    and students submitted their assignments to CR, further
    CR used to  compile all the files and forward them to respective faculty of respective Subject.this website helps student and faculties to directly submit and upload assignment.
    through this portal both CR and faculties will be able to save their Data on their respective systems.
    as there will be no longer need compiling all the assignments by CR, and downloading all the assignments by the faculties. Students and faculties will upload their files on google drive and fetch the link here. Explore to know more.</p>
   
   <h2>developed by</h2>
   <div class="card" style="width: 18rem;">
    <img src="images/IMG_20191005_145829_637.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-text">Amaan Khilji</h5>
      <hr>
      <p>IT-A 1st year  </p>
      <p>Roll.no : '5'</p>
       <p>DOB : 12/01/2001 </p>
      <p>Email: khilji.amaan@gmail.com</p>
      <a href="https://www.linkedin.com/in/amaan-khilji-243560196/" class="btn btn-outline-primary">linkedin</a>
<hr>
    </div>
  </div>
    <section id="cta">

       <div class="row">
           <div class="col-sm-6">
             <div class="card">
               <div class="card-body">
                 <h5 class="card-title">Submit Assignment</h5>
                 <p class="card-text">For students</p>
                 <a href="/submit" class="btn btn-primary">Submit</a>
               </div>
             </div>
           </div>
           <div class="col-sm-6">
             <div class="card">
               <div class="card-body">
                 <h5 class="card-title">Upload Assignment</h5>
                 <p class="card-text">For faculties</p>
                 <a href="/assignments" class="btn btn-primary">assignments</a>
               </div>
             </div>
           </div>
         </div>
          
         </section>
         <%- include ("partials/footer");-%>