<%- include ("partials/header");-%>

<h1>Choose Subject</h1>


<div class="alert alert-light" role="alert">
    <a href="/itphy" class="alert-link">physics</a>
 </div>

 <div class="alert alert-light" role="alert">
   <a href="/itcpp" class="alert-link">cpp</a>
</div>








