<%- include ("partials/header");-%>

<h1>Select Branch</h1>

<div class="alert alert-light" role="alert">
    CS A/B <a href="/cssub" class="alert-link">Click here</a>. 
  </div>

  <div class="alert alert-light" role="alert">
    IT A/B <a href="/itsub" class="alert-link">Click here</a>. 
  </div>

  <div class="alert alert-light" role="alert">
   E&TC A/B <a href="/tcsub" class="alert-link">Click here</a>.
  </div>

  <div class="alert alert-light" role="alert">
    Mechanical engg. <a href="/mechsub" class="alert-link">Click here</a>. 
  </div>

  <div class="alert alert-light" role="alert">
   E&I <a href="/eisub" class="alert-link">Click here</a>. 
  </div>

  <div class="alert alert-light" role="alert">
   Civil <a href="/civilsub" class="alert-link">Click here</a>. 
  </div>




<%- include ("partials/footer");-%>

