body {
   
    background-image: -webkit-linear-gradient(65deg, #dbdbdb 50%, #ffffff 50%);
    background-color: #e4e9fd;
    min-height: 100px;
    
}
h5{
   padding-left: 60px;
   
}
.card{
    margin-top: 20px;
 margin-left:  40%;
}
.navbar{
    font-family: 'Neucha', cursive;
}
    .navbar-brand{
        font-size: 50px;
      padding-left: 30px;
     
    }
h2{   font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    margin-top: 50px;
}
p{font-family: 'Neucha', cursive;
    text-align: center;
    margin: 30px 50px;
    line-height: 2;
}

.card-text{
    text-align: left;
}

#cta{
    margin-top: 20px ;
}
.form-group{
    width: 50%;
    padding-left: 90px;
    padding-top: 10px;
}
.btn{
    margin-left: 90px;
}
h1{ font-family: 'Mouse Memoirs', sans-serif;
    padding-left: 90px;
    padding-top: 10px;

}
.alert {
    width: 30%;
    margin-left: 90px;
   
    padding-top: 10px;
}

.btn-block{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}
#footer{
    background-color: rgb(0, 0, 0);
    color: darkgrey;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
}